<docs-item>
    <docs-fragment fragment="what-is-ngqp">
        <h2>What is ngqp?</h2>
    </docs-fragment>

    <p>
        ngqp is all about the URL &mdash; or, to be precise, about the very last part of it. Let's take a look at this
        example:
    </p>

    <div class="my-3">
        <demo-snippet type="none" code="https://app.io/categories/computer/products?q=X1&manufacturer=Lenovo&costsLessThan=1500"></demo-snippet>
    </div>

    <p>
        This, and any other, URL consists of a few different parts. As an Angular developer, chances are you are most
        familiar with the <em>route</em> of it. However, if we look beyond the route, we can see the <em>query parameters</em>.
        These are an arbitrary list of parameters to the URL which can occur in arbitrary order or even multiple times.
    </p>
    <p>
        This makes query parameters an ideal choice for representing state such as filter or search settings. You may
        be thinking to yourself: why should I even bother? Fair point! Here's a couple of reasons for why encoding such
        state in the URL is a worthwhile effort:
    </p>
    <ul class="checkmark-list">
        <li>The state can be persisted across reloads</li>
        <li>URLs can be bookmarked and shared</li>
    </ul>
    <p>
        However, keeping these parameters in sync with your application's state can be tricky, particularly if you want
        to make sure that changes to the parameters can happen either from the URL or programmatically, or if you need
        to serialize more complex state into the URL.
    </p>
    <p>
        This is where ngqp comes in: it provides you with a simple, declarative approach to define a <em>model</em> of
        what parameters you want to work with. This model can then be wired up with your form controls and ngqp will
        worry about the rest.
    </p>

    <docs-fragment fragment="simple-example">
        <h2>Our first example</h2>
    </docs-fragment>

    <p>
        You might be thinking »That sounds great, but what does this look like in practice?« To answer this question,
        we'll just take a look at our first example; and we'll use the URL we discussed above to demonstrate it!
    </p>
    <demo-example [markup]="markup" [typescript]="typescript">
        <demo-browser [group]="paramGroup" initialQueryParams="?q=X1&manufacturer=Lenovo&costsLessThan=1500">
            <ng-container [queryParamGroup]="paramGroup">
                <div class="row">
                    <div class="col col-12 col-md-9">
                        <div class="form-group">
                            <label for="search">Keywords</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <fa-icon [icon]="faSearch" class="input-group-text"></fa-icon>
                                </div>
                                <input id="search" type="text" placeholder="Search" queryParamName="search"
                                       autocomplete="off" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-3">
                        <div class="form-group">
                            <label for="manufacturer">Manufacturer</label>
                            <select id="manufacturer" class="form-control" queryParamName="manufacturer">
                                <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">
                                    {{ manufacturer }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="priceCap">Price less than</label>
                    <input id="priceCap" type="number" min="500" max="3000" step="100" class="form-control"
                           queryParamName="priceCap" />
                </div>
            </ng-container>
        </demo-browser>
    </demo-example>
</docs-item>