<docs-item>
    <p>
        The <em>model</em> defines which parameters you want to synchronize as well as <em>how</em> they are defined.
        A model is an instance of <span apiDocsLink>QueryParamGroup</span> and is best created by using
        the <span apiDocsLink>QueryParamBuilder</span> service. In this article, we will explain the
        different features exposed by the model.
    </p>

    <docs-fragment fragment="QueryParamGroup">
        <h2>QueryParamGroup</h2>
    </docs-fragment>
    <p>
        <span apiDocsLink>QueryParamGroup</span> serves as a container for the parameters. Having this
        container around your parameters is required as ngqp uses it to orchestrate its parameters as a unit. You can
        create a group by using the <span apiDocsLink>QueryParamBuilder#group</span> method.
    </p>
    <p>
        By passing a second argument to <span apiDocsLink>QueryParamBuilder#group</span>,
        you can define additional settings which affect the entire group.
    </p>
    <docs-fragment fragment="QueryParamGroup-replaceUrl">
        <h3>Controlling history state</h3>
    </docs-fragment>
    <p>
        When form control values change, ngqp synchronizes their values to the URL by navigating to the updated URL. By
        default, this will replace the current state in the history rather than appending to it such that it doesn't
        interfere with navigating back using, e.g., the back button.
    </p>
    <p>
        By passing <code>replaceUrl</code>, this value can be overridden. Note that in ngqp this can be defined both
        globally (see <docs-link [page]="DocsPage.GLOBAL_CONFIGURATION"></docs-link>) and per
        <span apiDocsLink>QueryParamGroup</span>, with the latter taking precedence over the former, if
        defined.
    </p>
    <demo-replace-url-example></demo-replace-url-example>

    <docs-fragment fragment="QueryParam">
        <h2>QueryParam</h2>
    </docs-fragment>
    <p>
        A <span apiDocsLink>QueryParam</span> model represents a specific query parameter in the URL. It
        contains defining information such as the name of the query parameter and how the form control values are
        (de-)serialized to and from the URL.
    </p>
    <docs-fragment fragment="QueryParam-param">
        <h3>Creating parameters</h3>
    </docs-fragment>
    <p>
        For basic data types such as strings, numbers and booleans, <span apiDocsLink>QueryParamBuilder</span>
        offers methods to create a new parameter model such that the correct (de-)serializers are used (see
        <docs-link fragment="QueryParam-serialize"></docs-link>).
    </p>
    <ul>
        <li><span apiDocsLink>QueryParamBuilder#stringParam</span></li>
        <li><span apiDocsLink>QueryParamBuilder#numericParam</span></li>
        <li><span apiDocsLink>QueryParamBuilder#booleanParam</span></li>
    </ul>
    <p>
        If your form control uses complex-typed values, use <span apiDocsLink>QueryParamBuilder#param</span> instead
        and provide your own (de-)serializers.
    </p>
    <docs-fragment fragment="QueryParam-param">
        <h3>Naming parameters</h3>
    </docs-fragment>
    <p>
        ngqp separates the name of the parameter model from the name used in the URL because, for example, you may want
        to use <code>?q=…</code> in the URL for a search input, but refer to it in your code with a more descriptive
        name such as <code>searchText</code>.
    </p>
    <p>
        The <span apiDocsLink="QueryParam#param">param</span> option of the parameter definition defines the parameter
        name used for the URL.
    </p>
    <docs-fragment fragment="QueryParam-serialize">
        <h3>Serializing and deserializing</h3>
    </docs-fragment>
    <p>
        (De-)Serializers determine how the value of the form control is serialized into a string for the URL and, vice
        versa, how the parameter value is converted into the value used in the form control. If you need or want to
        provide your own (de-)serializers, you can pass them to <span apiDocsLink>QueryParamBuilder#param</span>.
    </p>
    <demo-serializer-example></demo-serializer-example>
    <docs-fragment fragment="QueryParam-multi">
        <h3>Multiple values</h3>
    </docs-fragment>
    <p>
        If your form control's model is array-typed, such as <code>&lt;select multiple&gt;</code>, you can set the
        <span apiDocsLink="QueryParam#multi">multi</span> option to <code>true</code>. This will use the default
        behavior of the router to have query parameters with multiple values.
    </p>
    <demo-multi-example></demo-multi-example>
    <docs-fragment fragment="QueryParam-debounceTime">
        <h3>Debouncing user input</h3>
    </docs-fragment>
    <p>
        For some form controls such as an input field, it may be too aggressive to update the URL on every keystroke
        as <span apiDocsLink>QueryParamGroup#valueChanges</span> would fire many times as well. A common solution is
        to <em>debounce</em> such inputs such that the value is only taken once user input rests for a specified time
        period.
    </p>
    <p>
        This effect can be achieved using the <span apiDocsLink>QueryParam#debounceTime</span> option of a parameter,
        defining the debounce time in ms.
    </p>
    <div class="alert alert-info">
        Note that the debounce will happen <em>before</em> the URL is updated rather than debouncing the
        <span apiDocsLink>QueryParamGroup#valueChanges</span> emissions. This is intentional, as you wouldn't want the
        debounce to happen when initially navigating to a specific route.
    </div>
    <demo-debounce-time-example></demo-debounce-time-example>
    <docs-fragment fragment="QueryParam-emptyOn">
        <h3>Default values</h3>
    </docs-fragment>
    <div class="alert alert-warning">
        Note that this feature is currently not supported if you are using <span apiDocsLink>QueryParam#multi</span>.
    </div>
    <p>
        By default, if a parameter value is <code>null</code>, the parameter will be removed from the URL. For example,
        this prevents useless URL segments such as <code>?q=</code> (without a value). However, in some cases you might
        want this "default" to be a different value, e.g., a numeric input should perhaps default to <code>0</code>
        instead.
    </p>
    <p>
        This can be achieved by speficying the value using <span apiDocsLink>QueryParam#emptyOn</span>. This means that
        if the form control takes on the specified value, the parameter will be removed from the URL. Likewise, if the
        parameter is not found on the URL, this value will be written to the form control.
    </p>
    <p>
        Note that this relies on a comparison against the given value, which works fine for basic types (string, number,
        boolean). If you have complex types, you need to also define a <span apiDocsLink>QueryParam#compareWith</span>
        function which checks whether two given values should be considered equal.
    </p>
    <!-- TODO Example -->
    <docs-fragment fragment="QueryParam-combineWith">
        <h3>Side effects on other parameters</h3>
    </docs-fragment>
    <p>
        In some cases you may want changes in a parameter to affect another parameter as well. For example, changing
        the sorting of a paginated table should reset the selected page back to the first one. This can be achieved
        by providing a <span apiDocsLink>QueryParam#combineWith</span> function.
    </p>
    <p>
        This function will receive the previous and the new value of the parameter and is expected to return an object
        containing any other changes to the query parameters. Note that this is a "raw" object, referencing the actual
        URL parameter names directly. No (de-)serializers will be run and this effect does not cascade.
    </p>
    <!-- TODO Example -->
</docs-item>