:host {
    display: block;
    border: 1px solid #bdbdbd;
}

@mixin btn-reset() {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.demo-browser {
    &__toolbar {
        display: flex;

        background: #eeeeee;
        border-bottom: 1px solid #e0e0e0;
        padding: 4px 8px;
    }

    &__url {
        flex-grow: 1;

        font-family: monospace;
        height: 24px;
        line-height: 24px;

        cursor: not-allowed;
        background: #fff;
        border-radius: 16px;
        padding: 0 16px;

        display: flex;

        &__domain {
            flex-grow: 0;

            vertical-align: middle;
            color: #9e9e9e;
        }

        &__input {
            flex-grow: 1;

            border: none;
            outline: none;
            background: transparent;

            vertical-align: middle;
        }
    }

    &__content {
        padding: 16px;
        min-height: 120px;
    }

    &__console {
        background: #eeeeee;
        border-top: 1px solid #e0e0e0;
        padding: 4px 8px;

        font-size: small;
        color: #616161;

        display: flex;
        justify-content: space-between;
    }
}