<demo-example [markup]="markup" [typescript]="typescript">
    <demo-browser [group]="paramGroup">
        <div class="alert alert-info">
            In this example, the boolean parameter of the checkbox is (de-)serialized using the strings "active" and
            "inactive" rather than the default "true" and "false".
        </div>

        <div [queryParamGroup]="paramGroup" class="custom-control custom-checkbox">
            <input id="status" type="checkbox" class="custom-control-input" queryParamName="status" />
            <label for="status" class="custom-control-label">Active</label>
        </div>
    </demo-browser>
</demo-example>