<docs-item>
    <p>
        In the <docs-link [page]="DocsPage.MODEL_CONFIGURATION">previous article</docs-link> we learned how to configure
        our <span apiDocsLink>QueryParamGroup</span> and wire it up with form controls. In this section, we take a look
        at how to work with the group programmatically.
    </p>

    <docs-fragment fragment="QueryParamGroup">
        <h2>QueryParamGroup</h2>
    </docs-fragment>
    <p>
        You can operate on the entire <span apiDocsLink>QueryParamGroup</span> or access individual
        <span apiDocsLink>QueryParam</span> instances to operate on.
    </p>
    <docs-fragment fragment="QueryParamGroup-get">
        <h3>Accessing individual parameters</h3>
    </docs-fragment>
    <p>
        To gain access to a specific <span apiDocsLink>QueryParam</span> use the <span apiDocsLink>QueryParamGroup#get</span>
        method by passing the name of the parameter model (i.e., <em>not</em> the <code>param</code> name for the URL)
        to it. This will return the appropriate <span apiDocsLink>QueryParam</span> instance.
    </p>
    <demo-snippet type="typescript" [code]="qpgGetSnippet"></demo-snippet>

    <docs-fragment fragment="QueryParamGroup-value">
        <h3>Reading the current value</h3>
    </docs-fragment>
    <p>
        The current value of the entire group is exposed in <span apiDocsLink>QueryParamGroup#value</span>. This returns
        an object keyed by the names of the <span apiDocsLink>QueryParam</span> models where each key carries the current
        value of the corresponding parameter.
    </p>
    <demo-snippet type="typescript" [code]="qpgValueSnippet"></demo-snippet>

    <docs-fragment fragment="QueryParamGroup-valueChanges">
        <h3>Subscribing to value changes</h3>
    </docs-fragment>
    <p>
        In most cases you probably want to subscribe to changes in the value of the entire group in order to access
        some API or similar. This can be done by subscribing to the <span apiDocsLink>QueryParamGroup#valueChanges</span>
        observable. It emits the current value as described above whenever the value of any parameter changes.
    </p>
    <div class="alert alert-warning">
        Remember to unsubscribe from this observable!
    </div>
    <demo-snippet type="typescript" [code]="qpgValueChangesSnippet"></demo-snippet>

    <docs-fragment fragment="QueryParamGroup-patchValue-setValue">
        <h3>Updating the value</h3>
    </docs-fragment>
    <p>
        You can update the value of a <span apiDocsLink>QueryParamGroup</span> either partially via
        <span apiDocsLink="QueryParamGroup#patchValue">patchValue</span> or overwrite the entire value using
        <span apiDocsLink="QueryParamGroup#setValue">setValue</span>. Both methods expect the input to be of the same
        shape as <span apiDocsLink>QueryParamGroup#value</span> as described above.
    </p>
    <demo-patch-set-value-example></demo-patch-set-value-example>

    <docs-fragment fragment="QueryParam">
        <h2>QueryParam</h2>
    </docs-fragment>
    <p>
        Working with an individual <span apiDocsLink>QueryParam</span> is mostly the same as working with a
        <span apiDocsLink>QueryParamGroup</span>.
    </p>

    <docs-fragment fragment="QueryParam-value">
        <h3>Reading the current value</h3>
    </docs-fragment>
    <p>
        This is analogous to <docs-link fragment="QueryParamGroup-value">QueryParamGroup</docs-link>. You can find
        the API documentation under <span apiDocsLink>QueryParam#value</span>.
    </p>

    <docs-fragment fragment="QueryParam-valueChanges">
        <h3>Subscribing to value changes</h3>
    </docs-fragment>
    <p>
        This is analogous to <docs-link fragment="QueryParamGroup-valueChanges">QueryParamGroup</docs-link>. You can find
        the API documentation under <span apiDocsLink>QueryParam#valueChanges</span>.
    </p>

    <docs-fragment fragment="QueryParam-setValue">
        <h3>Updating the value</h3>
    </docs-fragment>
    <p>
        This is similar to changing the value of an entire
        <docs-link fragment="QueryParamGroup-patchValue-setValue">QueryParamGroup</docs-link>, with the difference that
        <span apiDocsLink>QueryParam</span> models support only the <span apiDocsLink="QueryParam#setValue">setValue</span> method.
    </p>
</docs-item>