<docs-item>
    <p>
        In the <docs-link [page]="DocsPage.MODEL_CONFIGURATION">previous article</docs-link> we learned how to configure
        our <span apiDocsLink>QueryParamGroup</span> and wire it up with form controls. In this section, we take a look
        at how to work with the group programmatically.
    </p>

    <docs-fragment fragment="QueryParamGroup">
        <h2>QueryParamGroup</h2>
    </docs-fragment>
    <p>
        <!-- TODO -->
    </p>
    <docs-fragment fragment="QueryParamGroup-get">
        <h3>Access individual parameters</h3>
    </docs-fragment>
    <p>
        <!-- TODO -->
    </p>
    <docs-fragment fragment="QueryParamGroup-value">
        <h3>Reading the current value</h3>
    </docs-fragment>
    <p>
        <!-- TODO -->
    </p>
    <docs-fragment fragment="QueryParamGroup-valueChanges">
        <h3>Subscribing to value changes</h3>
    </docs-fragment>
    <p>
        <!-- TODO -->
    </p>
    <docs-fragment fragment="QueryParamGroup-patchValue-setValue">
        <h3>Updating the values</h3>
    </docs-fragment>
    <p>
        <!-- TODO -->
    </p>

    <docs-fragment fragment="QueryParam">
        <h2>QueryParam</h2>
    </docs-fragment>
    <p>
        <!-- TODO -->
    </p>
    <docs-fragment fragment="QueryParam-value">
        <h3>Reading the current value</h3>
    </docs-fragment>
    <p>
        This is analogous to <docs-link fragment="QueryParamGroup-value">QueryParamGroup</docs-link>. You can find
        the API documentation under <span apiDocsLink>QueryParam#value</span>.
    </p>
    <docs-fragment fragment="QueryParam-valueChanges">
        <h3>Subscribing to value changes</h3>
    </docs-fragment>
    <p>
        This is analogous to <docs-link fragment="QueryParamGroup-valueChanges">QueryParamGroup</docs-link>. You can find
        the API documentation under <span apiDocsLink>QueryParam#valueChanges</span>.
    </p>
    <docs-fragment fragment="QueryParam-setValue">
        <h3>Updating the values</h3>
    </docs-fragment>
    <p>
        This is similar to changing the value of an entire
        <docs-link fragment="QueryParamGroup-patchValue-setValue">QueryParamGroup</docs-link>, with the difference that
        <span apiDocsLink>QueryParam</span> models support only the <span apiDocsLink="QueryParam#setValue">setValue</span> method.
    </p>
</docs-item>