<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/logo.svg" height="48" width="auto" />
    <a class="navbar-brand" routerLink="/">@ngqp</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarExpanded = !isNavbarExpanded">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="!isNavbarExpanded">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/playground">Playground</a>
            </li>
        </ul>
    </div>
</nav>

<div class="alert alert-danger" role="alert">
    @ngqp is still under early development. This website currently serves only as a playground.
</div>

<main role="main" class="container mt-5">
    <router-outlet></router-outlet>
</main>