@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.logo-container {
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.navbar {
    min-height: 4rem;

    @include media-breakpoint-down(md) {
        padding-right: 0.5rem;
        padding-left: 0.5rem;

        .navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: 0.25rem;
            overflow: hidden;

            .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
        }
    }

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            position: sticky;
            top: 0;
            z-index: 2000;
        }
    }
}

.navbar-nav a {
    text-decoration: none;
}