<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-primary">
    <a class="navbar-brand" routerLink="/" aria-label="tng.github.io/ngqp">
        <div class="d-inline-block align-middle logo-container">
            <img src="assets/logo.svg" height="32" width="auto" />
        </div>
        <span>ngqp</span>
    </a>

    <div class="navbar-nav-scroll">
        <div class="navbar-nav flex-row">
            <a class="nav-item" routerLink="/getting-started" routerLinkActive="active">
                <span class="nav-link">Getting started</span>
            </a>
            <a class="nav-item" routerLink="/docs" routerLinkActive="active">
                <span class="nav-link">Documentation</span>
            </a>
            <a class="nav-item" href="/api-docs">
                <span class="nav-link">API</span>
            </a>
        </div>
    </div>

    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <a class="nav-item" href="https://www.github.com/TNG/ngqp" rel="nofollow noopener">
            <fa-icon [icon]="faGithub" size="lg" class="text-light"></fa-icon>
        </a>
    </div>
</header>

<router-outlet></router-outlet>
