<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" (click)="isNavbarExpanded = !isNavbarExpanded">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
        <div class="d-inline-block align-middle  logo-container">
            <img src="assets/logo.svg" height="48" width="auto" />
        </div>
        @ngqp
    </a>
    <div class="navbar-collapse" [class.collapse]="!isNavbarExpanded">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/playground">Playground</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Getting started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">API Documentation</a>
            </li>
        </ul>
    </div>
    <a href="https://www.github.com/Airblader/ngqp" rel="nofollow noopener" [class.collapse]="isNavbarExpanded">
        <fa-icon [icon]="faGithub" size="2x" class="text-light"></fa-icon>
    </a>
</nav>

<main role="main" class="container mt-5">
    <router-outlet></router-outlet>
</main>