$theme-colors: (
    "primary":    #1976d2,
    "secondary":  #7c4dff,
);

@import "~bootstrap/scss/bootstrap";
@import "~prismjs/themes/prism.css";

ngb-tabset {
    &:not(.no-padding) .tab-pane {
        padding: 16px;
    }

    &.no-padding .nav-tabs .nav-link.active {
        border-color: $border-color;
    }

    &.bordered .tab-pane {
        border: 1px solid $border-color;
        border-top: none;
    }
}