<docs-item>
    <p>
        Parameters provide a wide range of features. It is recommended that you carefully read through this page once
        to familiarize yourself with the features ngqp offers you out-of-the-box. Each feature is configured through
        the second argument of <span apiDocsLink>QueryParamBuilder</span>'s different methods of creating parameters:
    </p>
    <ul>
        <li><span apiDocsLink="QueryParamBuilder#stringParam">stringParam</span></li>
        <li><span apiDocsLink="QueryParamBuilder#numberParam">numberParam</span></li>
        <li><span apiDocsLink="QueryParamBuilder#booleanParam">booleanParam</span></li>
        <li><span apiDocsLink="QueryParamBuilder#param">param</span></li>
    </ul>

    <docs-fragment fragment="serialize-deserialize">
        <h2>Serializing and deserializing</h2>
    </docs-fragment>
    <p>
        (De-)Serializers determine how the value of the form control is serialized into a string for the URL and, vice
        versa, how the parameter value is converted into the value used in the form control. If you need or want to
        provide your own (de-)serializers, you can pass them to <span apiDocsLink>QueryParamBuilder#param</span>.
    </p>
    <demo-serializer-example></demo-serializer-example>
    <div class="alert alert-info mt-3">
        <p>
            Deserializers can also be asynchronous by returning an Observable instead. This can be useful, e.g., if you
            have a user's name in the URL and need to deserialize it into a user object, but fetching the list of users
            is an asynchronous operation.
        </p>
        <p>
            Note that for asynchronous deserializers, ngqp will use the <em>first</em> emitted value rather than the
            last one. Furthermore, the <code>valueChanges</code> observables will only emit after the deserializer has
            emitted.
        </p>
    </div>

    <docs-fragment fragment="multi">
        <h2>Components with multiple values</h2>
    </docs-fragment>
    <p>
        If your form control's model is array-typed, such as <code>&lt;select multiple&gt;</code>, you can set the
        <span apiDocsLink="QueryParam#multi">multi</span> option to <code>true</code>. This will use the default
        behavior of the router to have query parameters with multiple values.
    </p>
    <div class="alert alert-info">
        When using <code>multi: true</code>, APIs such as <span apiDocsLink>QueryParamGroup#get</span> will actually
        return <span apiDocsLink>MultiQueryParam</span> instead of <span apiDocsLink>QueryParam</span>.
    </div>
    <demo-multi-example></demo-multi-example>

    <docs-fragment fragment="debounceTime">
        <h2>Debouncing user input</h2>
    </docs-fragment>
    <p>
        For some form controls such as an input field, it may be too aggressive to update the URL on every keystroke
        as <span apiDocsLink>QueryParamGroup#valueChanges</span> would fire many times as well. A common solution is
        to <em>debounce</em> such inputs such that the value is only taken once user input rests for a specified time
        period.
    </p>
    <p>
        This effect can be achieved using the <span apiDocsLink>QueryParam#debounceTime</span> option of a parameter,
        defining the debounce time in ms.
    </p>
    <div class="alert alert-info">
        Note that the debounce will happen <em>before</em> the URL is updated rather than debouncing the
        <span apiDocsLink>QueryParamGroup#valueChanges</span> emissions. This is intentional, as you wouldn't want the
        debounce to happen when initially navigating to a specific route.
    </div>
    <demo-debounce-time-example></demo-debounce-time-example>

    <docs-fragment fragment="emptyOn-compareWith">
        <h2>Default values</h2>
    </docs-fragment>
    <p>
        By default, if a parameter value is <code>null</code>, the parameter will be removed from the URL. For example,
        this prevents useless URL segments such as <code>?q=</code> (without a value). However, in some cases you might
        want this "default" to be a different value, e.g., a numeric input should perhaps default to <code>0</code>
        instead.
    </p>
    <p>
        This can be achieved by speficying the value using <span apiDocsLink>QueryParam#emptyOn</span>. This means that
        if the form control takes on the specified value, the parameter will be removed from the URL. Likewise, if the
        parameter is not found on the URL, this value will be written to the form control.
    </p>
    <div class="alert alert-info">
        <span apiDocsLink="QueryParam#emptyOn">emptyOn</span> is really just a convenience wrapper around creating a
        custom (de-)serializer.
    </div>
    <p>
        Note that this relies on a comparison against the given value, which works fine for basic types (string, number,
        boolean). If you have complex types, you need to also define a <span apiDocsLink>QueryParam#compareWith</span>
        function which checks whether two given values should be considered equal.
    </p>
    <demo-empty-on-example></demo-empty-on-example>

    <docs-fragment fragment="combineWith">
        <h2>Side effects</h2>
    </docs-fragment>
    <p>
        In some cases you may want changes in a parameter to affect another parameter as well. For example, changing
        the sorting of a paginated table should reset the selected page back to the first one. This can be achieved
        by providing a <span apiDocsLink>QueryParam#combineWith</span> function.
    </p>
    <p>
        This function will receive the new value of the parameter and is expected to return an object containing any
        other changes to the query parameters. Note that this is a "raw" object, referencing the actual URL parameter
        names directly. No (de-)serializers will be run and this effect does not cascade.
    </p>
    <demo-combine-with-example></demo-combine-with-example>

    <docs-fragment fragment="partition">
        <h2>Partitioned parameters</h2>
    </docs-fragment>
    <p>
        You can bind a single form control to multiple parameters by using partitioned parameters. This can be useful,
        e.g., if you have a dropdown representing how to sort a table and would like the field to sort by and the
        direction to sort in to be two separate URL parameters.
    </p>
    <p>
        To use partitioned parameters, use <span apiDocsLink>QueryParamBuilder#partition</span> and pass the list of
        parameters (which have to be »regular« parameters) as an argument. Additionally, you will need to define
        functions which define how to convert between the single form control's model and the model of the individual
        parameters.
    </p>
    <partition-example></partition-example>
</docs-item>