<main class="d-flex flex-wrap">
    <section class="intro container-fluid text-center mt-5">
        <div class="content-logo">
            <img src="assets/logo.svg" height="144" width="auto" />
        </div>
        <h1>ngqp</h1>
        <p>Declaratively synchronize form controls with the URL</p>
        <div class="btn-block">
            <a class="btn btn-lg btn-primary" routerLink="/getting-started">Get started</a>
            <a class="btn btn-lg btn-outline-secondary" href="https://www.github.com/Airblader/ngqp">Github</a>
        </div>

        <div class="social-buttons">
            <a class="github-button" href="https://github.com/Airblader/ngqp" data-show-count="true"
               aria-label="Star Airblader/ngqp on GitHub">Star on GitHub</a>
        </div>
    </section>

    <section class="benefits container-fluid">
        <div class="benefits__content">
            <div class="row">
                <div *ngFor="let benefit of benefits" class="col-12 col-sm-6 d-flex flex-wrap">
                    <div class="benefit__icon">
                        <fa-icon [icon]="benefit.icon" size="3x" class="text-primary"></fa-icon>
                    </div>
                    <div class="benefit__text">
                        <h4>{{ benefit.title }}</h4>
                        <p>{{ benefit.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    Design inspired by <a href="https://valor-software.com/ngx-bootstrap">ngx-bootstrap</a>.
</footer>