@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.intro {
    h1 {
        font-family: Roboto, Droid, sans-serif;
    }

    .btn-block {
        margin: 2rem 0;

        .btn {
            min-width: 240px;
            margin: 0 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    .social {
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.benefits {
    background: #f5f5f5;

    &__content {
        padding: 2rem 2rem 1rem 2rem;

        .col-12 {
            padding-bottom: 2rem;
        }
    }

    .benefit__icon {
        flex: 0 0 80px;
        max-width: 80px;
        height: 60px;
        margin-bottom: 15px;
        padding-right: 10px;

        img {
            display: block;
            max-width: 100%;
        }
    }

    .benefit__text {
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);

        h4 {
            color: #333;
        }

        p {
            margin: 15px 0 0;
            color: #666;
        }
    }
}

@include media-breakpoint-down(xs) {
    .intro .btn-block .btn {
        display: block;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .benefits {
        .benefits__content {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .benefit__icon, .benefit__text {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .benefit__icon, .benefit__text h4 {
            text-align: center;
        }
    }
}

.footer {
    padding: 1rem;
    text-align: center;
}