<main class="d-flex flex-wrap">
    <section class="intro container-fluid text-center mt-5">
        <div class="content-logo">
            <img src="assets/logo.svg" height="144" width="auto" />
        </div>
        <h1>ngqp</h1>
        <p>Declaratively synchronize form controls with the URL</p>
        <div class="btn-block">
            <a class="btn btn-lg btn-primary" routerLink="/getting-started">Get started</a>
            <a class="btn btn-lg btn-outline-secondary" routerLink="/docs">Docs</a>
        </div>
        <div class="social">
            <a class="btn btn-link" href="https://www.github.com/Airblader/ngqp">
                <fa-icon [icon]="faGithub" size="lg"></fa-icon>
                Visit on GitHub
            </a>
        </div>
    </section>

    <section class="benefits container-fluid">
        <div class="benefits__content">
            <div class="row">
                <div *ngFor="let benefit of benefits" class="col-12 col-sm-6 d-flex flex-wrap">
                    <div class="benefit__icon">
                        <fa-icon [icon]="benefit.icon" size="3x" class="text-primary"></fa-icon>
                    </div>
                    <div class="benefit__text">
                        <h4>{{ benefit.title }}</h4>
                        <p>{{ benefit.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer small">
    Code licensed <a href="https://github.com/Airblader/ngqp/blob/master/LICENSE">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    Design inspired by <a href="https://getbootstrap.com/">bootstrap</a>, <a href="https://ng-bootstrap.github.io">ng-bootstrap</a> and <a href="https://valor-software.com/ngx-bootstrap">ngx-bootstrap</a>.
</footer>