<main class="bd-masthead" role="main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 mx-auto col-md-6 order-md-2">
                <img src="assets/logo.svg" class="img-fluid mb-3 mb-md-0" />
            </div>
            <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3 bd-text-purple-bright">ngqp</h1>
                <p class="lead">
                    Declaratively synchronize form controls with the URL
                </p>
                <p>
                    ngqp synchronizes the values of form control components with query parameters in the URL, making
                    it easy to serialize UI state into the URL to create shareable links and improve user experience.
                </p>
                <demo-browser [queryParamGroup]="paramGroup" class="border mt-2 mb-4">
                    <p><em>Try it out!</em> Change these values and watch the URL above.</p>
                    <input type="text" autocomplete="off" placeholder="Type here" class="form-control mb-2" queryParamName="text" />
                    <select class="form-control" queryParamName="choice">
                        <option [value]="null">Choose an option</option>
                        <option value="Apple">Apple</option>
                        <option value="Banana">Banana</option>
                        <option value="Orange">Orange</option>
                    </select>
                </demo-browser>
                <div class="row mx-n2">
                    <div class="col-md px-4 px-md-2">
                        <a class="btn btn-lg btn-primary w-100 mb-3" routerLink="/getting-started">Get started</a>
                    </div>
                    <div class="col-md px-4 px-md-2">
                        <a class="btn btn-lg btn-outline-secondary w-100 mb-3" routerLink="/docs">Documentation</a>
                    </div>
                </div>
                <div class="social">
                    <a class="btn btn-link w-100 mb-3" href="https://www.github.com/Airblader/ngqp">
                        <fa-icon [icon]="faGithub" size="lg"></fa-icon>
                        Visit on GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<section class="benefits container-fluid">
    <div class="benefits__content">
        <div class="row">
            <div *ngFor="let benefit of benefits" class="col-12 col-sm-6 d-flex flex-wrap">
                <div class="benefit__icon">
                    <fa-icon [icon]="benefit.icon" size="3x" class="text-primary"></fa-icon>
                </div>
                <div class="benefit__text">
                    <h4>{{ benefit.title }}</h4>
                    <p>{{ benefit.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer small">
    Code licensed <a href="https://github.com/Airblader/ngqp/blob/master/LICENSE">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    Design inspired by <a href="https://getbootstrap.com/">bootstrap</a>, <a href="https://ng-bootstrap.github.io">ng-bootstrap</a> and <a href="https://valor-software.com/ngx-bootstrap">ngx-bootstrap</a>.
</footer>