<div class="demo-browser__toolbar">
    <div class="demo-browser__buttons">
        <button class="demo-browser__button" title="{{ routerAdapter.history.length }} previous route(s)"
                (click)="routerAdapter.goBack()" [disabled]="routerAdapter.history.length === 0">
            <fa-icon [icon]="faArrowLeft" size="1x"></fa-icon>
        </button>
    </div>

    <div class="demo-browser__url">
        <span class="demo-browser__url__domain" (click)="urlInput.focus()">
            <span class="d-none d-md-inline">https://www.</span>
            <span>app.io</span>
        </span>
        <input #urlInput type="text" class="demo-browser__url__input"
               [ngModel]="routerAdapter.url" (keyup.enter)="routerAdapter.navigateToQueryParamString($event.target.value)" />
    </div>
</div>

<div class="demo-browser__content">
    <ng-content></ng-content>
</div>

<div *ngIf="group" class="demo-browser__console">
    <div class="cursor-default demo-browser__console__last-change" title="Last value change event of the QueryParamGroup">
        <span class="d-none d-md-inline-block">{{ lastChange }}</span>
    </div>
    <span class="cursor-default no-select" title="Total number of value change events of the QueryParamGroup">
        <div class="badge badge-info">{{ changeCounter }}</div>
    </span>
</div>