@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$panel-background: #f0f0f0;
$panel-accent: $border-color;
$panel-content-height: 27px;

:host {
    display: block;
}

@mixin btn-reset() {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.demo-browser {
    &__toolbar {
        display: flex;

        background: $panel-background;
        border-bottom: 1px solid $panel-accent;
        padding: 6px;
        // box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
    }

    &__buttons {
        flex: 0;
    }

    &__url {
        flex: 1;
        width: 100%;

        font-family: var(--font-family-sans-serif);
        font-size: 14px;
        font-weight: 400;

        height: $panel-content-height;
        line-height: $panel-content-height;

        cursor: not-allowed;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 0 8px;

        display: flex;
        align-items: center;

        &__domain {
            flex: 0;

            vertical-align: middle;
            color: #9e9e9e;
        }

        &__input {
            flex: 1;
            width: 100%;

            border: none;
            outline: none;
            background: transparent;

            vertical-align: middle;
        }
    }

    &__content {
        padding: 16px;
        min-height: 120px;

        // border-left: 1px solid $panel-accent;
        // border-right: 1px solid $panel-accent;

        overflow: auto;
    }

    &__console {
        background: $panel-background;
        border-top: 1px solid $panel-accent;
        padding: 6px;
        // box-shadow: 1px -1px 2px rgba(0, 0, 0, .1);

        font-size: 12px;
        color: #5f615f;

        display: flex;
        justify-content: space-between;

        overflow: hidden;
    }
}

button.demo-browser__button {
    @include btn-reset();
    outline: 0;
    cursor: pointer;
    margin-right: 4px;

    width: $panel-content-height;
    height: $panel-content-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 4px;

    &:not(:disabled) {
        &:hover, &:focus {
            background: #e0e0e0;
        }

        &:active {
            background: #bdbdbd;
        }
    }

    &:disabled {
        color: #9e9e9e;
    }
}

.cursor-default {
    cursor: default;
}

.no-select {
    user-select: none;
}