<main class="container mt-5">
    <h1>Installation</h1>
    ngqp supports schematics, so simply run the following command in your project:
    <demo-snippet type="bash" code="ng add @ngqp/core"></demo-snippet>

    <hr />

    You can also install it manually using
    <demo-snippet type="bash" code="yarn add @ngqp/core"></demo-snippet>

    and then importing it to your app's root module:
    <demo-snippet type="typescript" [code]="snippets['MODULE_IMPORT']"></demo-snippet>

    <h2 class="mt-5">Versions</h2>
    In this table you can find the version of ngqp you should install based on the version of Angular you are using:
    <div class="d-flex justify-content-center mt-3">
        <table class="table table-bordered d-inline-block w-auto">
            <thead>
            <th scope="col" class="shrink">@angular/core</th>
            <th scope="col">@ngqp/core</th>
            </thead>

            <tbody>
            <tr>
                <td class="shrink">7.x</td>
                <td>1.x</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>