<main class="container mt-5 mb-5">
    <h1>Installation</h1>

    <ngb-tabset class="bordered">
        <ngb-tab title="ng add">
            <ng-template ngbTabContent>
                We support schematics for minimum setup effort. Just run the following command:
                <demo-snippet type="bash" code="ng add @ngqp/core"></demo-snippet>
                This will take care of installing the appropriate version of ngqp and seting it up in your app.
            </ng-template>
        </ngb-tab>

        <ngb-tab title="npm / yarn">
            <ng-template ngbTabContent>
                You can install ngqp manually by installing the package into your app, e.g.:
                <demo-snippet type="bash" code="npm install --save @ngqp/core"></demo-snippet>
                or
                <demo-snippet type="bash" code="yarn add @ngqp/core"></demo-snippet>

                Afterwards, import the module into your app like this:
                <demo-snippet type="typescript" [code]="snippets['MODULE_IMPORT']"></demo-snippet>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Version Compatibility">
            <ng-template ngbTabContent>
                When installing using <code>ng add</code>, we will take care of installing the correct version based
                on the version of Angular you are using. Otherwise, or if you update Angular, make sure to use the
                correct version of ngqp given the following compatibility table:

                <div class="d-flex justify-content-center mt-3">
                    <table class="table table-bordered d-inline-block w-auto">
                        <thead>
                        <th scope="col" class="shrink">@angular/core</th>
                        <th scope="col">@ngqp/core</th>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="shrink">7.x</td>
                            <td>1.x</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <h1 class="mt-5">Usage</h1>

    <p>
        Here's a basic example of how you can use ngqp. Go visit <a routerLink="/docs">the docs</a> to learn all the
        features step by step.
    </p>

    <demo-example [markup]="snippets['DEMO_MARKUP']" [typescript]="snippets['DEMO_TYPESCRIPT']">
        <demo-browser [group]="paramGroup">
            <ng-container [queryParamGroup]="paramGroup">
                <div class="alert alert-success">
                    This in-browser browser is pretty neat, huh? It allows us to encapsulate examples and interact
                    with them, so you'll be seeing much more of it in the rest of the documentation. You can
                    change the query parameters in the URL (hit Enter) or track value changes of the
                    <code>QueryParamGroup</code> on the bottom.
                </div>

                <p>
                    The URL is automatically synchronized with the value of the following search input. Try typing
                    in here to see how the URL automatically updates. This input is slightly debounced to avoid
                    updating the URL <em>too</em> often.
                </p>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <fa-icon [icon]="faSearch" class="input-group-text"></fa-icon>
                    </div>
                    <input type="text" placeholder="Search" queryParamName="searchText" autocomplete="off" class="form-control" />
                </div>
            </ng-container>
        </demo-browser>
    </demo-example>
</main>