:host {
    display: block;
    margin: 8px 0;
}

.demo-snippet__pre {
    margin: 0;
    padding: 8px;

    font-family: var(--font-family-monospace);
    background-color: #f5f5f5;

    max-height: 480px;
    overflow-x: auto;
    overflow-y: auto;
}