<ul ngbNav #nav="ngbNav" [destroyOnHide]="false" (activeIdChange)="onTabChange($event)" class="bordered no-padding">
    <li ngbNavItem="demo">
        <a ngbNavLink>Demo</a>
        <ng-template ngbNavContent>
            <ng-content></ng-content>
        </ng-template>
    </li>
    <li ngbNavItem="HTML">
        <a ngbNavLink>HTML</a>
        <ng-template ngbNavContent>
            <demo-snippet type="html" [code]="markup" class="m-0"></demo-snippet>
        </ng-template>
    </li>
    <li ngbNavItem="Typescript">
        <a ngbNavLink>Typescript</a>
        <ng-template ngbNavContent>
            <demo-snippet type="typescript" [code]="typescript" class="m-0"></demo-snippet>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav"></div>