<nav class="py-3">
    <div class="item">
        <a class="item__text" routerLink="/">Home</a>
    </div>
    <div class="item">
        <a class="item__text" routerLink="/getting-started">Getting Started</a>
    </div>

    <hr />

    <div *ngFor="let item of items" class="item">
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-container>

        <div *ngIf="item.children" class="item__children">
            <ng-container *ngFor="let childItem of item.children"
                          [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: childItem}">
            </ng-container>
        </div>
    </div>
</nav>

<ng-template #itemTemplate let-item>
    <ng-container *ngIf="!item.children; then linkItemTemplate; else nonLinkItemTemplate"></ng-container>

    <ng-template #linkItemTemplate>
        <a class="item__text" (click)="navigate.emit()" [routerLink]="item.page | docsPageRoute" routerLinkActive="active">
            {{ item.page | docsPageName }}
        </a>
    </ng-template>

    <ng-template #nonLinkItemTemplate>
        <div class="item__text">{{ item.name }}</div>
    </ng-template>
</ng-template>